doctype html
html(lang='en')
    head
        title Spoon
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        link(rel='stylesheet', href='css/config.css')
        link(rel='stylesheet', href='css/slate.min.css')
    body
        .item-container
            .item-container-content
                .item.center
                    p.bottom-margin Connecting to Foursquare
                    .progress.blue
    script(src='js/slate.min.js')
    script(src='js/token.js')
    script(src='js/callback.js')