doctype html
html(lang='en')
    head
        title Spoon
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        link(rel='stylesheet', href='css/slate.min.css')
        link(rel='stylesheet', href='css/config.css')
    body.text-center
        h1.left.margin-left-10 Spoon
            .pull-right.progress.orange(id='progress-save')
        .item-container
            .item-container-content
                div.success-background.margin-bottom-10.hide(id='message-welcome')
                    h2 Welcome new user!
                    | Spoon is ready to help you check-in and remember those great places you find in the world!
                .item
                    p Get connected to Foursquare and change your theme below.
                div.margin-bottom-15
                    a.button-container.margin-bottom-15(id='config-connect-button' 
                        href='https://foursquare.com/oauth2/authorize?client_id=0KM5OWM4PWMHTEVCDVSWNBPRSXNFLRMODVBP0OGX31JELKR5&response_type=token&redirect_uri=https://blog.thomashunsaker.com/spoon/config.html')
                        img(src='img/foursquare-connect.png')
                    div.hide(id='config-connect-wrapper')
                        p.success-background.margin-bottom-15(id='config-connect-info')
                            | Connected! Save settings below to start using Spoon!
                        a.button-container(id='config-connect-reauthorize'
                            href='#') Reauthorize
                    
                p.margin-bottom-15.alert-background.hide(id='config-connect-error')
                    | Authorizing Foursquare failed. :( Try again.
        .item-container.left
            .item-container-header User Preferences
            .item-container-content
                label.item Distance Units
                    .item.tab-buttons
                        a.tab-button.active(id='tab-units-km', name='tab-units') Kilometers (km)
                        a.tab-button(id='tab-units-mi', name='tab-units') Miles (mi)
                    
                label.item Theme
                    select.item-select(id='select-theme')
                        option.item-select-option.selected(name='radio-theme', value='0') Green / Pink
                        option.item-select-option(name='radio-theme', value='1') Orange / Green
                        option.item-select-option(name='radio-theme', value='2') Pink / Blue
                        option.item-select-option(name='radio-theme', value='3') Yellow / Purple
                        option.item-select-option(name='radio-theme', value='4') Blue / Orange
                        option.item-select-option(name='radio-theme', value='5') Classic (Black / White)

        .item-container.left
            .item-container-header Experimental
            .item-container-content
                label.item Add Checkins to Timeline
                    input.item-toggle(id='check-timeline' type='checkbox' name='toggle-timeline' checked)

        .item-container
            .button-container
                button.item-button(id='btn-save') SAVE
                
        div.footer
            img.margin-bottom-10(src='img/honey_spoon_subdued.png')
            p.margin-bottom-10 &copy; 2016 &nbsp;
                a(href='https://twitter.com/thunsaker') @thunsaker
            
            a.margin-top-10(href='https://foursquare.com')
                img(src='img/powered-by-foursquare.png' width='200px')

    script(src='js/slate.min.js')
    script(src='js/token.js')
    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js')
    script(src='js/config.js')
    script(src='js/persist.js')