doctype html
html(lang='en')
    head
        title Spoon
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        link(rel='stylesheet', href='css/config.css')
        link(rel='stylesheet', href='css/slate.min.css')
    body.center
        .item-container
            .item-container-content
                .item 
                    p Get connected to Foursquare and change your theme below.
                div.bottom-margin
                    a.button-container.bottom-margin(id='config-connect-button' 
                        href='https://foursquare.com/oauth2/authorize?client_id=0KM5OWM4PWMHTEVCDVSWNBPRSXNFLRMODVBP0OGX31JELKR5&response_type=token&redirect_uri=http://blog.thomashunsaker.com/spoon/config.html')
                        img(src='img/foursquare-connect.png')
                    p.success-background.hide(id='config-connect-info')
                        | Connected! Save settings below to start using Spoon!
                p.bottom-margin.alert-background.hide(id='config-connect-error')
                    | Authorizing Foursquare failed. :( Try again.

        .item-container.left
            .item-container-header Theme
            .item-container-content
                label.item Green / Pink
                    input.item-radio(type='radio', name='radio-theme', value='0', checked)
                label.item Orange / Green
                    input.item-radio(type='radio', name='radio-theme', value='1')
                label.item Pink / Blue
                    input.item-radio(type='radio', name='radio-theme', value='2')
                label.item Yellow / Purple
                    input.item-radio(type='radio', name='radio-theme', value='3')
                label.item Blue / Orange
                    input.item-radio(type='radio', name='radio-theme', value='4')
                label.item Classic (Black / White)
                    input.item-radio(type='radio', name='radio-theme', value='5')

        .item-container.left
            .item-container-header Distance Units
            .item-container-content
                .item.tab-buttons
                    a.tab-button.active(name='tab-units') Kilometers (km)
                    a.tab-button(name='tab-units') Miles (mi)
                    
        .item-container.left
            .item-container-header Experimental
            .item-container-content
                label.item Add Checkins to Timeline
                    input.item-toggle(type='checkbox' name='toggle-timeline' checked)

        .item-container
            .button-container
                button.item-button(id='btn-save') SAVE SETTINGS

    script(src='js/slate.min.js')
    script(src='js/token.js')
    script(src='js/config.js')
