doctype html
html(lang='en')
    head
        title Spoon
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        link(rel='stylesheet', href='css/config.css')
        link(rel='stylesheet', href='css/slate.min.css')
    body.center
        form(id='config-form')
            .item-container
                .item-container-content
                    .item 
                        p Get connected to Foursquare and change your theme below.
                    div.bottom-margin
                        a.button-container.bottom-margin(href='callback.html')
                            img(src='img/foursquare-connect.png')
            .item-container.left
                .item-container-header Theme
                .item-container-content
                    label.item Teal / Pink
                        input.item-radio(type='radio', name='radio-theme', value='0', checked)
                    label.item Orange / Green
                        input.item-radio(type='radio', name='radio-theme', value='1')
                    label.item Pink / Blue
                        input.item-radio(type='radio', name='radio-theme', value='2')
                    label.item Purple / Yellow
                        input.item-radio(type='radio', name='radio-theme', value='3')
                    label.item Classic (Black / White)
                        input.item-radio(type='radio', name='radio-theme', value='4')

            .item-container.left
                .item-container-header Distance Units
                .item-container-content
                    .item.tab-buttons
                        a.tab-button.active(name='tab-1') Miles (mi)
                        a.tab-button(name='tab-1') Kilometers (km)

            .item-container
                .button-container
                    button.item-button SAVE SETTINGS

    script(src='js/slate.min.js')
